<h2> Info on a node</h2>
<% if @node %>
    <ul>

        <p>Name:        <%= link_to @node.typeifiedname, taxonomite_path(@node) %></p>
        <p>Type:        <%= @node.entity_type %></p>
        <p>Population:  <%= @node.leaves.size %>

        <% if !@node.is_root? %>
        <h3>Parent:</h3>
            <li><%= link_to @node.parent.name, taxonomite_path(@node.parent) %></li>
        <% end %>

        <% if !@node.is_leaf? %>
            <h3>Children:</h3>
            <%= render partial: 'node', collection: @node.children, as: :node %>
        <% end %>

    </ul>
<% else %>
    <p>Unable to find a node.</p>
<% end %>

<br/>
  <ul>
  <li><%= link_to "Edit this node", edit_taxonomite_path(@node) %></li>
  </ul>
